# Core
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.8.4
seaborn==0.13.2
plotly==5.22.0
squarify==0.4.3

# Machine Learning
scikit-learn==1.5.1
statsmodels==0.14.2

# Dashboard
streamlit==1.36.0



# Data Profiling (used in report)
ydata-profiling==4.8.3